<div
     class="alert alert-danger"
     ng-show="validationResult.containsValidationError">
    
    <h2>Please fix the errors before submitting</h2>
    <div>
        <ul id="validationErrorMessage" style="color:red;font-family:verdana;">
        
        
        </ul>
    
    </div>

</div>